<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="com/tx/dbUtil.properties"></context:property-placeholder>
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${c3p0.driverClass}"></property>
        <property name="jdbcUrl" value="${c3p0.jdbcUrl}"></property>
        <property name="user" value="${c3p0.user}"></property>
        <property name="password" value="${c3p0.password}"></property>
    </bean>

    <bean id="jdbcTemplates" class="org.springframework.jdbc.core.JdbcTemplate" >
        <constructor-arg ref="dataSource"></constructor-arg>
    </bean>

    <bean id="dao" class="com.tx.dao.DaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplates" ></property>
    </bean>
    <bean id="service" class="com.tx.service.ServiceImpl">
        <property name="dao" ref="dao"></property>
    </bean>
</beans>